In [1]:
import psycopg
import  envs

In [12]:
con_string = "host=15.188.94.127 port=5432 dbname=dev password=baylek@2024 user=postgres"
class PostgesAPI:
    def __init__(self, con_string) -> None:
        self.conn = psycopg.connect(con_string) 
        

    def insert(self):
        try:
           with self.conn.cursor() as cur:
                cur.execute("INSERT INTO test (num, data) VALUES (%s, %s)", (200, "xzy"))
        except Exception as e:
            print(e)
        self.conn.commit()
        return 'SQL Executed successfully'
sql_api = PostgesAPI( con_string)

In [13]:
sql_api.insert()

'SQL Executed successfully'

In [ ]:

class SQLAPI:
    def __init__(self, 
                 context,  
                 db_metadata
                ) -> None:
        con = f"""snowflake://{context['user']}:{context['password']}@{context['account']}/{context['database']}/{context['schema']}?warehouse={context['warehouse']}&role={context['role']}"""
        self.engine = create_engine(con, future = True)
        self.context = context
        self.mm = db_metadata
        db_metadata.create_all(self.engine)
        

    def execute_raw_sql(self, sql_file_path):
        try:
            escaped_sql = str(text(open(sql_file_path).read())).strip().split(';')
            escaped_sql = [i for i in escaped_sql if i]
            print(escaped_sql)
            print(len(escaped_sql))
            with snowflake.connector.connect(**self.context) as cnx:
                cur  = cnx.cursor()
                for stm in escaped_sql:
                    print(f"\nExecuting SQL ---> :", stm)
                    cur.execute(stm)
        except Exception as e:
            print(e)
        return 'SQL Executed successfully'

In [32]:
insert_sql = sa.insert(dim_parking_types).values(type_id=0, name="legal")
print(insert_sql)

INSERT INTO dim_parking_types (type_id, name) VALUES (:type_id, :name)

In [ ]:
with engine.connect() as conn:
    conn.execute(insert_sql)
    conn.commit()

In [23]:
import sqlalchemy 

print(sqlalchemy.__version__)

2.0.25

In [19]:
import pandas as pd
df = pd.read_csv('medecin_sample.csv', index_col=False)
df.head()

,nom,genre,specialite,address_dsp,daira,telephone,lat,lng
0,DJELLAL ABDENACER,Homme,Cardiologie,Lotissement Thala ex Stade 1er Novembre,Tizi Ouzou,026215386,36.770019,3.050049
1,SAHEB Belkacem,Homme,Cardiologie,"lot THALA, Bd KRIM Belkacem, local 6, NV",Tizi Ouzou,026205113,36.703037,4.054835
2,AIT BELKACEM Djallil,Homme,Cardiologie,"cité b,NV, 1er étage, local 01",Tizi Ouzou,0666265781,36.702298,4.045919
3,REDDAD IDIR,Homme,Cardiologie,"Cité 600 logts Bt N, N° 559, NV",Tizi Ouzou,026217470,36.770000,3.049360
4,MELLAH SAMIA,Femme,Dermatologie,Cité les genets Bt F N° 01,Tizi Ouzou,0666494120,36.705320,4.060288

In [2]:
import os 
os.environ.get('DATABASE_URL')

'postgresql://postgres:baylek@2024@15.188.94.127:5432/dev?scheme=public'

In [11]:
'postgresql://postgres:baylek@2024@15.188.94.127:5432/dev?scheme=public'

'postgresql://baylek@2024@15.188.94.127:5432/dev?scheme=public'

In [3]:
# Note: the module name is psycopg, not psycopg3
import psycopg

# Connect to an existing database
with psycopg.connect("host=15.188.94.127 port=5432 dbname=dev password=baylek@2024 user=postgres") as conn:
# with psycopg.connect("postgresql://postgres:baylek@2024@15.188.94.127:5432") as conn:

    # Open a cursor to perform database operations
    with conn.cursor() as cur:

        # Execute a command: this creates a new table
        cur.execute("""
            CREATE TABLE test (
                id serial PRIMARY KEY,
                num integer,
                data text)
            """)

        # Pass data to fill a query placeholders and let Psycopg perform
        # the correct conversion (no SQL injections!)
        cur.execute(
            "INSERT INTO test (num, data) VALUES (%s, %s)",
            (100, "abc'def"))

        # Query the database and obtain data as Python objects.
        cur.execute("SELECT * FROM test")
        cur.fetchone()
        # will return (1, 100, "abc'def")

        # You can use `cur.fetchmany()`, `cur.fetchall()` to return a list
        # of several records, or even iterate on the cursor
        for record in cur:
            print(record)

        # Make the changes to the database persistent
        conn.commit()

DuplicateTable: relation "test" already exists