In [197]:
import psycopg

import  envs

In [206]:
con_string = "host=15.188.94.127 port=5432 dbname=dev password=baylek@2024 user=postgres"
class PostgesAPI:
    def __init__(self, con_string) -> None:
        self.con_string = con_string

    def insert(self, table_name, records):
        try:
            with psycopg.connect(self.con_string) as conn:
                with conn.cursor() as cur:
                    if isinstance(records, dict): records = [records] 
                    cols = ', '.join(list(records[0].keys()))
                    vals = ', '.join([f"{tuple(record.values())}" for record in records])
                    insert_statements = f"""INSERT INTO {table_name} ({cols}) VALUES {vals}"""
                    cur.execute(insert_statements)
                    conn.commit()
            return f'{lenrecords} records were inserted'
        except Exception as e:
            print(e)
        

    def update(self, sql_statements):
        try:
            with psycopg.connect(self.con_string) as conn:
                with conn.cursor() as cur:
                    cur.execute(sql_statements)
                    conn.commit()
            return 'SQL Executed successfully'
        except Exception as e:
            print(e)
        


    def select(self, sql_statements):
        try:
            with psycopg.connect(self.con_string, row_factory = psycopg.rows.dict_row) as conn:
                with conn.cursor() as cur:
                    cur.execute(sql_statements)
                    # columns = tuple([desc[0] for desc in cur.description])
                    data = cur.fetchall()
            return  data
        except Exception as e:
            print(e)

    def create(self, sql_file):
        try:
            with psycopg.connect(self.con_string) as conn:
                with conn.cursor() as cur:
                    with open(sql_file, 'r') as sql_file:
                        sql_stms = sql_file.read().split(';')
                        print(sql_stms)
                        for stm in sql_stms:
                            print(stm)
                            cur.execute(stm)
                            conn.commit()
            return 'SQL Executed successfully'
        except Exception as e:
            print(e)
        
        
sql_api = PostgesAPI( con_string)

In [207]:
sql_api.create('test.sql')

['\nDROP TABLE IF EXISTS test', '\nCREATE TABLE test (\n    id serial PRIMARY KEY,\n    num integer,\n    data text\n)', "\nINSERT INTO test (num, data) \nVALUES (6000, 'HHH'), (800, 'BBB')", '\n']

DROP TABLE IF EXISTS test

CREATE TABLE test (
    id serial PRIMARY KEY,
    num integer,
    data text
)

INSERT INTO test (num, data)
VALUES (6000, 'HHH'), (800, 'BBB')

'SQL Executed successfully'

In [208]:
sql_api.select('select * from test')

[{'id': 1, 'num': 6000, 'data': 'HHH'}, {'id': 2, 'num': 800, 'data': 'BBB'}]

In [193]:
sql_api.select("select * from test")

[{'id': 1, 'num': 100, 'data': "abc'def"},
 {'id': 3, 'num': 200, 'data': 'xzy'},
 {'id': 4, 'num': 300, 'data': 'updated data'},
 {'id': 5, 'num': 300, 'data': 'updated data'},
 {'id': 6, 'num': 300, 'data': 'updated data'},
 {'id': 7, 'num': 300, 'data': 'updated data'},
 {'id': 8, 'num': 6000, 'data': 'HHH'},
 {'id': 9, 'num': 800, 'data': 'BBB'},
 {'id': 10, 'num': 6000, 'data': 'HHH'},
 {'id': 11, 'num': 9999, 'data': 'KKJL'}]

In [ ]:
records = [
    {
        "num":9999,
        "data" : 'KKJL'
    },
    {
       "num":800,
        "data" : 'BBB'
    }
]

table_name =  "test"

In [167]:
sql_api.insert(table_name, records[0])

'SQL Executed successfully'

In [195]:
with open('test.sql', 'r') as sql_file:
    sql_stms = sql_file.read().split(';')
    for stm in sql_stms:
        print(stm)

DROP TABLE IF EXISTS tableA

SELECT * FROM test

In [19]:
import pandas as pd
df = pd.read_csv('medecin_sample.csv', index_col=False)
df.head()

,nom,genre,specialite,address_dsp,daira,telephone,lat,lng
0,DJELLAL ABDENACER,Homme,Cardiologie,Lotissement Thala ex Stade 1er Novembre,Tizi Ouzou,026215386,36.770019,3.050049
1,SAHEB Belkacem,Homme,Cardiologie,"lot THALA, Bd KRIM Belkacem, local 6, NV",Tizi Ouzou,026205113,36.703037,4.054835
2,AIT BELKACEM Djallil,Homme,Cardiologie,"cité b,NV, 1er étage, local 01",Tizi Ouzou,0666265781,36.702298,4.045919
3,REDDAD IDIR,Homme,Cardiologie,"Cité 600 logts Bt N, N° 559, NV",Tizi Ouzou,026217470,36.770000,3.049360
4,MELLAH SAMIA,Femme,Dermatologie,Cité les genets Bt F N° 01,Tizi Ouzou,0666494120,36.705320,4.060288

In [196]:
records = [
    {
        "num":6000,
        "data" : 'HHH'
    },
    {
       "num":800,
        "data" : 'BBB'
    }
    
]


cols = ', '.join(list(record.keys()))

vals = ', '.join([f"{tuple(record.values())}" for record in records])

stmt = f"""INSERT INTO ({cols}) VALUES {vals}"""
stmt

"INSERT INTO (num, data) VALUES (6000, 'HHH'), (800, 'BBB')"